:root {
  /* 基础样式 全局变量 */
  --base-bgc: white;
  --base-textColor: black;
  --container-bgc: #e7f8ff;
  --svg-color: #000000;
}

html {
  transition: all 0.5s;
}

/* 暗黑模式 */
html.dark {
  background-color: var(--base-bgc);
  color: #ddddf0;
  --base-bgc: #212129;
  --base-textColor: #443e3ee7;
  --container-bgc: #26586a29;
  --svg-color: #dfd5d5;
}

/* 一些样式的重写 */
* {
  box-sizing: border-box;
}

div.el-drawer__body {
  padding: 0;
}
div.el-input__wrapper {
  background-color: var(--base-bgc);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(117, 119, 113, 0.726);
  border-radius: 6px;
}

/* parseMarkdown 组件的文字的样式 */
div.vuepress-markdown-body {
  /* 背景颜色透明 */
  background-color: #ffffff00;
}
div.vuepress-markdown-body:not(.custom) {
  padding: 0 5px;
}
@media (max-width: 419px) {
  div.vuepress-markdown-body div[class*="v-md-pre-wrapper-"] {
    margin: 0;
    border-radius: 6px;
  }
}
