:root {
  /* 基础样式 全局变量 */
  --base-bgc: white;
  --base-textColor: black;
  --container-bgc: #e7f8ff;
  --svg-color: #000000;
  --setting-color: #1f1e1e;
  --range-border-color: #1d1b1b;
}

/* 暗黑模式 */
html.dark {
  background-color: var(--base-bgc);
  color: var(--base-textColor);
  --base-bgc: #212129;
  --base-textColor: #504e4ee7;
  --container-bgc: #26586a29;
  --svg-color: #dfd5d5;
  --setting-color: #d1d1d1;
  --range-border-color: #c5bebe;
}

/* 一些样式的重写 */
* {
  padding: 0;
  box-sizing: border-box;
}

/* el-plus 的部分样式重写 */
div.el-drawer__body {
  padding: 0;
}
/* el-textarea */
textarea.el-textarea__inner {
  padding: 5px 30px 5px 11px;
  background-color: var(--base-bgc);
  color: var(--setting-color);
}
/* el-dialog */
div.el-dialog.is-align-center {
  background-color: var(--base-bgc);
}
/* el-dialog 的文字限制提示 */
.el-textarea span.el-input__count {
  background-color: transparent;
}
button.el-button > span {
  color: var(--setting-color);
}

/* Markdown 组件的文字的样式 重写 */
div.vuepress-markdown-body {
  /* 背景颜色透明 */
  background-color: #ffffff00;
}
div.vuepress-markdown-body:not(.custom) {
  padding: 0 5px;
}
@media (max-width: 419px) {
  div.vuepress-markdown-body div[class*="v-md-pre-wrapper-"] {
    margin: 0;
    border-radius: 6px;
  }
}

/* 滚动条 样式重写 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(117, 119, 113, 0.726);
  border-radius: 6px;
}
